header,footer{
	text-align: center;
	font-size: 150%;
	background: #000fff;
	font-style: italic;
	text-transform: uppercase;
	padding: 1%;
}
nav a{
	width: 22%;
	display: inline-block;
	background: #ffffff;
}
p{
	color: #Black;
	background: #FFF000;
	font-family: Arial;
	font-size: 110%;
	margin: auto 0;
}
section{
	width: 30%;
	display: inline-block;
	float: left;
	margin-right: 2%;
}
a:link{
	color: #00ff22;
	background: #b2b2b2;

}

a:visited {
  color: #ff00bb;
  background: #a2a2a2;
}


body{
	background: #808080;
	margin: 2%;
}
h2{
	color: #Black;
	background: #FF0000;
	font-family: courier;
	font-size: 150%;
}

footer{
	color: #ed600a;
	font-size: 150%;
	font-style: Arial;
	text-align: center;
	
}

img{
	width: 25px;
}